#App{
    height:100%;
}
@media only screen and (max-width: 700px) {
#video{
    width:100% !important
}

#videoList{
    width:100% !important
}

}
#video > div > div.ui.segment > p{
    color:black;
}

.image-select{
    height:60px;
    width:100%;
}

#ProfileContainer{
    background-color: #f4abba;
}
#ProfileContainer h1{
    color: white;
}

.editor-box{
    background-color: white;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 40px;
}

#ProfileContainer div{
    color: black!important;;
}

.form-control{
    margin-bottom:40px;
}

#ProfileContainer {
    text-align: center;
    justify-content: center;
}

#ProfileContainer label{
    font-weight:600;
}
